body {
 background-image: url("Backgrounds/bodybg3.jpg");
 background-size: contain;
 background-color:#595959;
}
#header{
  position: relative;
  text-align: center;
  border-style: groove; border-radius: 200px; border-color:#000000;background-color: #0000ff;
}
#main{
  border-style: solid; border-radius:50px;border-color: #000000;background-color: #666666;  margin: 30px;
  position: relative;
  background-image: url(Backgrounds/bg1.jpg);
  background-size: cover;

}
@keyframes bgimg {
    0% {background-image: url(Backgrounds/bg2.jpg);}
    30% {background-image: url(Backgrounds/bg3.jpg);}
    60% {background-image: url(Backgrounds/bg4.jpg);}
    90% {background-image: url(Backgrounds/bg2.jpg);}
    100% {background-image: url(Backgrounds/bg3.jpg);}
}
#lista{
  position:inherit;
  text-align:center;
  border-style: solid; border-radius:30px; background-color:#00ff00;
  font-size: 20px; font-style: italic; font-weight: bolder;
  width:800px; height:315px; padding: 10px;
}
#cartonase{
border-style:ridge; border-radius:70px; border-color: #000000; background-color: #8c8c8c;
text-align: center;
position: inherit;
     /*Animatie background poze */
-webkit-animation: bgimg 20s infinite;
  animation: bgimg 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.card{
  border-style:solid; border-radius:100px; background-color:#00ffff;
  width:300px;height:300px;margin:5px;
  text-align:center;
  position:inherit;
}
#c1{position:absolute;left:0px; top:0px;}
#c2{position:absolute;right:0px;top:0px;}
#c3{position:absolute;right:0px; bottom:0px;}
#c4{position:absolute;left:0px; bottom:0px;}
.titlu-poze{
  border: 10px solid transparent;
  padding: 15px;
  border-image-source: url(System-IMG/border.png);
  border-image-slice: 10;
}
#tabel-descrieri,#footer,#citat-text{
  color: white;
}
